nav {
  width: 100vw;
  height: 70px;
  position: fixed;
  z-index: 999;
  top: 0;
  background: darkorange;
}

.row.nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.col.nav:first-child {
  display: flex;
  align-items: start;
}

.col.nav:last-child {
  display: flex;
  align-items: end;
}

.links.nav {
  display: flex;
  column-gap: 35px;
  margin-right: 40px;
}

.logo.nav {
  display: flex;
  align-items: center;
  margin-left: 20px;
  column-gap: 15px;
  cursor: pointer;
}

.logo.nav > img {
  width: 55px;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  color: #535bf2;
}