.show-recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.recipe {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 350px;
  height: 350px;
  border: 1px solid black;
  background-color: darkorange;
  border-radius: 15px;
  box-shadow: 10px 10px 20px 1px rgb(54, 54, 54);
}

.recipe-img {
  height: 350px;
  object-fit: contain;
  border-radius: 14px;
  transition: all .2s ease;
}

.recipe-img:hover {
  scale: 1.1;
}

.recipe-title {
  position: absolute;
  z-index: 99;
  font-size: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 320px;
  top: 240px;
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  pointer-events: none;
}

.summary-wrapper {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
}

.summary {
  position: absolute;
  z-index: 0;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: darkorange;
  box-shadow: 3px 3px 1px black;
  border: 1px solid black;
  cursor: pointer;
}

.hoverinfo {
  position: absolute;
  z-index: 99;
  width: 85px;
  height: 25px;
  top: 70px;
  left: 60px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 1px black;
  border: 1px solid black;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease-in;
}

.summary:hover ~ .hoverinfo {
  opacity: 1;
}

.summary:hover ~ .recipe-img {
  scale: 1.1;
}